################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Engine/FileContentIndex/095ac22c-1bed-4a7f-b481-e2cfe3608a24.vsidx
/.vs/Engine/FileContentIndex/3fb7c60a-e498-40c0-a298-c97d474b715a.vsidx
/.vs/Engine/FileContentIndex/410ca3c4-7cd4-4436-becb-99a182a2df46.vsidx
/.vs/Engine/FileContentIndex/a1d190d3-b7df-42d4-9402-fddba41dea10.vsidx
/.vs/Engine/FileContentIndex/e786d58a-ede7-4295-8481-01db0535d556.vsidx
/.gitignore
