# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
Bin/
Obj/

# Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
packages/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/

# Ignore all .DLL and .EXE files in the repository
*.dll
*.exe
